* {
  text-align: center;
}

.artist_album_div {
  color: #68C9EC;
  display: flex;
  justify-content: space-around;
  margin: auto;
  width: 50%;
}

.artist_album_div h2 {
  color: #6060A3;
}

.songs {
  display: flex;
  justify-content: space-evenly;
  margin: auto;
  width: 90%;
}

.album-image {
  border: dotted #6060A3 5px;
  border-radius: 50%;
}

.card {
  border: dotted #6060A3 5px;
  margin-bottom: 5vh;
  padding: 2vh;
}
