* {
  text-align: center;
}

.songs {
  display: flex;
  flex-wrap: wrap;
  margin: auto;
  width: 90%;
}

.song {
  background-image: url('https://cdn.pixabay.com/photo/2019/04/13/20/51/music-background-4125571_960_720.jpg');
  background-size: contain;
  border-radius: 25px;
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 10px;
  text-align: center;
  width: 350px;
}

.song audio {
  width: 70%;
}

.song p {
  align-self: start;
  color: rgb(109, 0, 103);
  height: 30px;
  max-width: 150px;
}
