@import 'https://fonts.googleapis.com/css2?family=Source+Serif+Pro:wght@600&display=swap' ;

.search {
  background-color: papayawhip;
  box-sizing: border-box;
  color: darkslateblue;
  margin: 0;
  text-align: center;
}

.search input {
  font-size: medium;
  height: 30px;
  margin-right: 10px;
  width: 300px;
}

.search button {
  font-size: medium;
  font-weight: 900;
  padding: 6px;
}

.set-of-albums {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.album {
  align-items: center;
  background: linear-gradient(217deg, #ffcbdb, rgba(255, 0, 0, 0) 70.71%)
    linear-gradient(127deg, rgb(178, 233, 178), rgba(0, 255, 0, 0) 70.71%)
    linear-gradient(336deg, rgb(196, 196, 245), rgba(0, 0, 255, 0) 70.71%);
  border-radius: 50%;
  box-shadow: inset 0 0 1em rgba(253, 165, 241, 0.973);
  color: darkslateblue;
  display: flex;
  flex-direction: column;
  font-family: Source serif Pro , cursive;
  height: 300px;
  justify-content: space-evenly;
  margin: 20px;
  width: 300px;
}

.album h3 {
  font-family: Source serif Pro , cursive;
  font-weight: 900;
  width: 200px;
}

.album img {

  /* Consulta para centralizar a img, fonte: https://pt.stackoverflow.com/questions/5225/
  centralizar-imagem-verticalmente-dentro-de-uma-div  */
  border-radius: 50%;
  height: 110px;
  position: relative;
  top: -4%;
  width: 110px;
}

.album-link {
  color: darkslateblue;
  font-size: large;
  margin-bottom: 20px;
  text-decoration: none;
}
